@model IEnumerable<Shop_4_8_21.Models.tbl_product>
@using Shop_4_8_21.Models;

@{
    var Data = (IEnumerable<tbl_product>)TempData["ProductList"];
}

<!-- PRODUCT NEW -->
<section class="flat-row row-product-new mb-5" id="feat">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-52">
                    <h2 class="title">
                        All Products
                    </h2>
                </div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2 clearfix">

                        @foreach (var item in Data.Take(8))
                        {


                        <li class="product-item mb-5">
                            <div class="product-thumb clearfix">
                                <a href="/Home/Product_View/@item.p_id" class="product-thumb">
                                    <img src="@Url.Content(item.images)" width="90%" alt="image" style="height: 180px !important;">
                                </a>
                            </div>
                            <div class="product-info text-center clearfix mt-3">
                                <span class="product-title">@item.p_name</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">Rs @item.p_price /-</span>
                                    </ins>
                                </div>
                                <div class="flat-star style-1">
                                    @{
                                        ShopEntities1 db = new ShopEntities1();
                                        var data = db.tbl_rating.Where(x => x.pro_id_fk == item.p_id).ToList();
                                        double i = Convert.ToDouble(data.Sum(x => x.rating));
                                        double c = data.Count();

                                        double total_rating = i / c;
                                        double per = total_rating / 5 * 100;

                                        if (per > 0 && per <= 20)
                                        {
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                        }
                                        else if (per > 20 && per <= 40)
                                        {
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                        }
                                        else if (per > 40 && per <= 60)
                                        {
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                        }
                                        else if (per > 60 || per <= 80)
                                        {
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star text-dark"></i>
                                        }
                                        else if (per > 80 && per <= 100)
                                        {
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star "></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                            <i class="fa fa-star text-dark"></i>
                                        }

                                    }
                                </div>
                                <ul class="flat-color-list width-14">
                                    @{

                                        var cat_name = db.tbl_category.Where(x => x.c_id == item.cat_fk).SingleOrDefault();
                                    }
                                    <li>
                                        <span class="font-weight-500">Category:</span> @cat_name.c_name
                                    </li>

                                </ul>
                            </div>
                            <div class="add-to-cart text-center">
                                @if (Session["u_id"] == null)
                                {
                                    <a>ADD TO CART</a>
                                }
                                else
                                {
                                    <a class="Add" data-id="@item.p_id">ADD TO CART</a>
                                }
                            </div>
                            @{
                                var fav = Request.Cookies["favProducts"];

                                if (fav != null)
                                {
                                    if (fav.Value.Contains(item.p_id.ToString()))
                                    {
                                        <a class="like fav_delete" data-id="@item.p_id"><i class="fa fa-heart text-danger"></i></a>

                                    }
                                    else
                                    {
                                        <a class="like favs" data-id="@item.p_id"><i class="fa fa-heart-o"></i></a>

                                    }
                                }
                                else
                                {
                                    <a class="like favs" data-id="@item.p_id"><i class="fa fa-heart-o"></i></a>
                                }




                            }
                        </li>

                        }




                    </ul>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END PRODUCT NEW -->
