@model IEnumerable<Shop_4_8_21.Models.tbl_product>
@using Shop_4_8_21.Models;
@{
    ViewBag.Title = "Category";
}



@if (Model.Count() > 0)
{

    <!-- PRODUCT NEW -->
    <section class="flat-row row-product-new mb-5" id="feat">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-52">
                        <h2 class="title">
                            Products
                        </h2>
                    </div>
                    <div class="product-content product-fourcolumn clearfix">
                        <ul class="product style2 clearfix">

                            @foreach (var item in Model)
                            {


                                <li class="product-item mb-5">
                                    <div class="product-thumb clearfix">
                                        <a href="/Home/Product_View/@item.p_id" class="product-thumb">
                                            <img src="@Url.Content(item.images)" width="90%" alt="image" style="height: 180px !important;">
                                        </a>
                                        <span class="new">New</span>
                                    </div>
                                    <div class="product-info text-center clearfix mt-3">
                                        <span class="product-title">@item.p_name</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">Rs @item.p_price /-</span>
                                            </ins>
                                        </div>
                                        <div class="flat-star style-1">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <ul class="flat-color-list width-14">
                                            @{
                                                ShopEntities1 db = new ShopEntities1();
                                                var cat_name = db.tbl_category.Where(x => x.c_id == item.cat_fk).SingleOrDefault();
                                            }
                                            <li>
                                                <span class="font-weight-500">Category:</span> @cat_name.c_name
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        @if (Session["u_id"] == null)
                                        {
                                            <a>ADD TO CART</a>
                                        }
                                        else
                                        {
                                            <a class="Add" data-id="@item.p_id">ADD TO CART</a>
                                        }
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>

                            }




                        </ul>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- END PRODUCT NEW -->
}
else
{
    <h5 class="mt-5 text-center font-weight-bold">Oops!</h5>
    <h3 class="mt-5 mb-5 text-center">Products Not Found.</h3>
}
